* {
	box-sizing: border-box;
}

body, html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	text-align: center;
	position: relative;
	color: $color1;
	font-size: 32px;
	font-family: $sans;

	&.original {
		.original-game {
			top: 0;
		}
	}

	&.infinity {
		.infinity-game {
			top: 0;
		}
	}

	&.twist {
		.twist-game {
			top: 0;
		}
	}

	&.clear {
		.clear-game {
			top: 0;
		}
	}

	&.combine {
		.combine-game {
			top: 0;
		}
	}

	&.options {
		.option-panel {
			top: 0;
		}
	}

	&.original-high {
		.original-high-scores {
			top: 0;
		}
	}
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.wrapper {
	@include wrapper;
}

h1 {
	font-size: 54px;
	color: $color1;
}

ul {
	padding: 20px;

	li {
		display: block;
		background-color: $grey;
		border-radius: 10px;
		margin-bottom: 20px;
		font-size: 32px;

		a {
			padding: 15px;
			display: block;
		}

		@for $i from 1 through 8 {
			$c: calc-color($i);
			&:nth-child(#{$i}) {
				background-color: rgba($c,.4);
				color: $c;
			}
		}
	}
}