<template name="clearHighScores">
	<div class="clear-high-scores panel">
		<ul>
			<li>
				<a href="options">back to options</a>
			</li>
		</ul>
		<ul class="high-scores">
			{{#each highScores}}
				<li>
					<div class="score">
						<span>
							score
							{{score}}
						</span>
					</div>
					<div class="board">
						{{#each board}}
							{{#each this}}
								{{#if this}}
									<div val="{{this}}">
										<span>{{this}}</span>
									</div>
								{{else}}
									<div></div>
								{{/if}}
							{{/each}}
						{{/each}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</template>