<template name="optionPanel">
	<div class="option-panel panel">
		<ul class="options-list">
			{{#if currentUser}}
				<li>
					<a href="high-scores">high scores</a>
				</li>
				<li>
					<a class="facebook-logout">logout with facebook</a>
				</li>
				<li>
					<a href="rules">how to play</a>
				</li>
				<li>
					<a href="">play the game</a>
				</li>
			{{else}}
				<li>
					<a class="facebook-login">login with facebook</a>
				</li>
				<li>
					<a href="rules">how to play</a>
				</li>
				<li>
					<a href="">play without signing in</a>
				</li>
				<li class="no-color">
					playing without signing in means that your high score won't be saved.
				</li>
			{{/if}}
		</ul>
	</div>
</template>