<template name="optionPanel">
	<div class="option-panel panel">
		<ul class="options-list">
			{{#if currentUser}}
				<li>
					<a href="original-high">original high scores</a>
				</li>
				<li>
					<a href="infinity-high">infinity high scores</a>
				</li>
				<li>
					<a href="twist-high">twist high score</a>
				</li>
				<li>
					<a href="clear-high">clear low scores</a>
				</li>
				<li>
					<a href="combine-high">combine high scores</a>
				</li>
				<li>
					<a class="facebook-logout">logout with facebook</a>
				</li>
			{{else}}
				<li>
					<a class="facebook-login">login with facebook</a>
				</li>
			{{/if}}
			<li>
				<a href="">back to menu</a>
			</li>
		</ul>
	</div>
</template>